/* Add application styles & imports to this file! */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');


body {
  font-family: Lato;
  font-size: 18px;
}

.container {
   margin-top: 10px;
   padding: 50px;
   
   
}